.jumbotron-custom {
  background-color: navy;
  color: rgb(168, 164, 164);
  padding: 20px;
  text-align: center;
  margin: 10px;
}

#notes-header {
  background-color: navy;
  color: white;
}

.rover-img {
  width: 80%;
  height: auto;
  position: relative;
}

.rover-info {
  position: relative;
  width: 300px;
}

.temp-text-small {
  font-size: 11px;
  color: red;
}

.rover-info li {
    padding: 20px;
}

.mars-intro {
    font-size: 12px
}

.mars-image {
    width: 100%;
    margin-bottom: 20px
}

#saved-notes {
    border: black;

.event-img {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

#space-events {
  padding: 16px;

}