.jumbotron-custom {
    background-color: navy;
    color: rgb(168, 164, 164);
    padding: 20px;
    text-align: center;
    margin: 10px;
}

#notes-header {
    background-color: navy;
    color: white
}

.rover-img {
    width: 50%;
    height: auto;
}
.rover-info {
    position: relative;
    right: 300px;
    
.temp-text-small {
    font-size: 11px;
    color: red
}